#nav{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 90px;
     
}